In [1]:
import pandas as pd 
from pandas_profiling import ProfileReport
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('sample-salesv2.csv')
data

,account number,name,sku,category,quantity,unit price,ext price,date
0,296809,Carroll PLC,QN-82852,Belt,13,44.48,578.24,9/27/2014 7:13
1,98022,Heidenreich-Bosco,MJ-21460,Shoes,19,53.62,1018.78,7/29/2014 2:10
2,563905,"Kerluke, Reilly and Bechtelar",AS-93055,Shirt,12,24.16,289.92,3/1/2014 10:51
3,93356,Waters-Walker,AS-93055,Shirt,5,82.68,413.40,11/17/2013 20:41
4,659366,Waelchi-Fahey,AS-93055,Shirt,18,99.64,1793.52,1/3/2014 8:14
...,...,...,...,...,...,...,...,...
995,758133,"Kihn, McClure and Denesik",WJ-02096,Belt,11,60.50,665.50,8/3/2014 10:39
996,850140,Kunze Inc,GS-86623,Shoes,16,19.66,314.56,5/3/2014 21:18
997,93356,Waters-Walker,GS-86623,Shoes,13,90.95,1182.35,6/14/2014 12:43
998,304860,Huel-Haag,LL-46261,Shoes,9,98.22,883.98,7/26/2014 1:10
999,98022,Heidenreich-Bosco,LW-86841,Shoes,14,74.83,1047.62,6/27/2014 5:58

In [3]:
profile = ProfileReport(data)
profile.to_file(output_file='samplesales.html')

Summarize dataset:   0%|          | 0/21 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]